.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 135px;
  height: 36px;
  overflow: hidden;
  transition: all 350ms ease-in 0ms;
  text-decoration: none;
}

.logo img {
  max-width: 20%;
  transition: all 350ms ease-in 0ms;
  object-fit: cover;
}

.logo span {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  margin-left: 5px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search {
  position: relative;
  width: 240px;
  height: 28px;
  padding-left: 10px;
  background-color: #4f4c4d;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 30px;
}
.search img {
  width: 14px;
  height: 14px;
}
.search form {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato';
}
.search form input {
  width: 200px;
  background-color: transparent;
  border: none;
  color: #fff;
  padding-left: 8px;
  font-family: 'Montserrat Alternates', sans-serif;
}
.search form input::placeholder {
  color: #a8a8a8;
  font-family: 'Montserrat Alternates', sans-serif;
}
.search form input:focus,
.search form input:active {
  border: none;
  color: #fff;
  outline: 0;
  outline-offset: 0;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav ul li {
  margin-right: 30px;
  list-style: none;
}
.nav ul li:last-child {
  margin-right: 0;
}
.nav ul li a {
  line-height: 40px;
  text-decoration: none;
  color: #fff;
  font-family: 'Lato';
  transition: all 250ms ease-in 0ms;
}
.nav ul li a:hover {
  color: #2377D5;
}