@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;
  overflow: hidden;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.banner img {
  width: 100%;
  object-fit: cover;
  transition: all 650ms ease-in-out 0ms;
  transform: scale(1.03);
}
.banner:hover img {
  transform: scale(1);
}

.container {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
}
.addPost {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  border-bottom: 1px solid rgba(204, 204, 204, 0.4);
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1),
              0px 0px 10px 0px rgba(0, 0, 0, 0.1),
              0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
.avatar img {
  width: 100%;
  object-fit: cover;
}
.addPost form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.addPost form textarea {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  height: auto;
  border-radius: 4px;
  color: #939598;
  width: 100%;
  font-family: "Montserrat Alternates", sans-serif;
  outline: 0;
  outline-offset: 0;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 140%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  resize: vertical;
  margin-right: 10px;
  transition: all ease-in-out 150ms;
}
.addPost form i {
  color: #6d6e71;
  font-size: 16px;
  margin: 0 5px;
  cursor: pointer;
  transition: all 150ms ease-in-out 0ms;
}
.addPost form i:hover {
  color: #159bca;
}
.addPost form button {
  cursor: pointer;
  line-height: 140%;
  text-align: center;
  background: #159bca;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  margin-left: 10px;
  transition: all 250ms ease-in 0ms;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1),
              0px 0px 10px 0px rgba(0, 0, 0, 0.1),
              0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
.addPost form button:hover {
  background: #1487b1;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2),
              0px 0px 10px 0px rgba(0, 0, 0, 0.1),
              0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.text {
  padding: 20px;
  margin-top: 20px;
}

.text h2 {
  font-size: 30px;
  font-weight: 800;
  color: #000;
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
}
.text p {
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  color: #333;
  text-align: justify;
  font-family: "Montserrat Alternates", sans-serif;
  margin-top: 40px;
}
.container h1 {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
