.wrapper {
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 5px;
  transition: all 250ms ease-in 0ms;
}
.wrapper.scticky {
  position: fixed;
}

.title {
  line-height: 110%;
  color: #6d6e71;
  margin-bottom: 30px;
  font-size: 18px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
}

.manBox {
  width: 170px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 15px;
}
.avatar {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1),
              0px 0px 8px 0px rgba(0, 0, 0, 0.1),
              0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.avatar img {
  width: 100%;
  object-fit: cover;
}
.links {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(204, 204, 204, 0.4);
}
.name,
.followLink {
  text-decoration: none;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 110%;
  padding-bottom: 5px;
  margin-bottom: 15px;
  color: #1487B1;
  transition: all 250ms ease-in 0ms;
}
.followLink {
  color: #8dc63f;
  margin-bottom: 15px;
}
.name:hover,
.followLink:hover {
  border-bottom: 1px solid;
}